$('body').html("<h1><%= escape_javaScript(@post.title) %></h1>").append("<%= escape_javaScript(@post.content) %>");

(function() {
  var $post = $("<%= j render("overview", post: @post) %>")
  $post.dialog("open")
})()